.App {
  display: flex;
  height: 80%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  border-radius: 10px;
}

.guess-me {
  width: 350px;
  height: 250px;

  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.35 );
  backdrop-filter: blur( 17.5px );
  -webkit-backdrop-filter: blur( 17.5px );
  border-radius: 10px;
}

.options {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  width: 350px;
  height: 60px;
  justify-content: space-evenly;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  height: 50px;
  width: 350px;
}

.right, .wrong {
  font-size: 24px;
}

.right {
  color: rgb(80, 194, 99);
}

.wrong {
  color:rgb(230, 103, 103);
}

.header {
  display: flex;
  flex-direction: column;
  height: 20%;
}

.github-button {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title, .subtitle {
  display: flex;
  justify-content: center;
  width: 350px;
}

.title {
  font-style: italic;
  font-size: 48px;
}

.subtitle {
  font-size: 22px;
}
